body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}


/*------ 
    Top banner section 
    --------*/

.top-banner {
    margin-top: 5%;
    position: absolute;
    background-color: rgb(23, 23, 23);
    height: 78.9%;
    width: 88.5%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}

.banner-parts-right {
    size: 100%;
}

.banner-parts-right img {

    padding-top: 4.65%;
    width: 85.7%;
    height: 85.4%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.banner-parts-left {
    size: 100%;
    padding-top: 7%;
    padding-left: 15%;

}

.banner-parts-left h1 {
    width: 90%;
    height: 37%;
    font-weight: 900;
    font-size: 3.5em;
    line-height: 1.2em;
}

.banner-parts-left h4 {

    font-weight: 50;
    line-height: 25px;
    margin: 5% 0px;

}

button {
    border-radius: 5px;
    height: 46px;
    width: 147px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(221, 0, 0, 1);
    font-weight: 500;
    font-size: 16px;

}


/*------ 
    Live button animation 
    --------*/
.live-btn {
    border-radius: 5px;
    height: 46px;
    width: 147px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(221, 0, 0, 1);
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    transition: 0.5s;
}

.live-btn:hover {
    padding-left: 0px;
    padding-right: 40px;

}

.live-btn span {
    position: absolute;
    left: 100px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;

}

.live-btn:hover span {

    margin-left: -5px;
    left: calc(100% - 82%);

}

/*------ 
    blog section 
    --------*/

.blogs-container {
    padding: 0;
    margin-top: 51%;
    position: absolute;
    padding-bottom: 30px;
    width: 88.5%;
    border-radius: 15px;
    display: flex;
}

.options {
    background-color: rgb(23, 23, 23);
    padding: auto;
    height: 250px;
    width: 265px;
    margin: 0;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.options button {
    border: 0px;
    border-radius: 5px;
    margin: auto;
    height: 45px;
    width: 220px;
    font-weight: 600;
    font-size: 16px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blog {
    margin-right: 0;
    margin-left: 19px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(232, 232, 232, 1);
    background-color: white;
    height: 312px;
    width: 276px;
}

.blog-img img {
    width: 100%;
    margin-bottom: 5px;
}

.transfer-bnt button {
    height: 30px;
    width: 100px;
    border-style: 1px solid red;
    border-color: rgb(22, 21, 21);
    background-color: white;
    color: black;
    margin: 10px 15px;
}

.blog-titel {
    margin: 5px 15px;
}

.blog-icons {
    margin-top: 15px;
}

.blog-icons span {
    display: inline;
    justify-content: space-evenly;
    margin: 40px 15px;
}

.blog-icons i {
    margin-right: 5px;
}

/*------ 
    View Button section 
    --------*/
.view-btn-contrainer {
    display: flex;
    justify-content: center;
    margin-top: 1620px;
    margin-bottom: 50px;
    position: absolute;
    display: none;
}

#view-btn {
    border: none;

}

/*------ 
    Footer section 
    --------*/

.footer-container {
    background-color: rgba(22, 22, 22, 1);
    width: 100%;
    margin: 0;
    height: 380px;
    margin-top: 1690px;
}

.goal {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bolder;
    margin-top: 110px;
    margin-bottom: 50px;
}

.goal-hr {
    display: flex;
    justify-content: center;
    top: px;
    width: 90%;
    border: none;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-contents {
    display: flex;
    margin: 40px 200px;
    justify-content: center;
}

.footer-contents a {

    text-decoration: none;
    color: #B9B9B9;
}

.footer-content {
    margin: auto;
}

.social-icons {

    display: flex;
    justify-content: center;
    margin: auto;
}

.social-icon i {
    margin: 10px 40px 10px 40px;
    size: 25px;
    color: whitesmoke;
}

/*------ 
    media quire for responsiveness 
    --------*/

/*------ 
            media quire for mobile view
            --------*/

@media only screen and (max-width: 376px) {
    .top-banner {
        margin-top: 5%;
        position: absolute;
        background-color: rgb(23, 23, 23);
        height: 80%;
        width: 88.5%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        /* grid-template-rows: repeat(2, 1fr); */
        color: white;
        justify-content: center;
    }

    .banner-parts-left h1 {
        /* text-justify: inter-word;  */
        text-align: center;
        padding-left: 20%;
        justify-content: center;
        width: 50%;
        height: 20%;
        font-weight: 700;
        font-size: 1.2em;
        line-height: 1.5em;
        margin-bottom: 10%;
        margin-top: 20%;
    }

    .banner-parts-left h4 {
        margin-top: 20%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 30;
        line-height: 1.3em;
        font-size: smaller;

    }

    .banner-parts-right img {
        padding-left: 10%;
        /* padding-top: %; */
        width: 80%;
        height: 78.4%;
    }

    .live-btn {

        padding-left: 20px;

    }

    .live-btn span {
        left: 18%;
    }

    .live-btn:hover span {

        margin-left: -5px;
        left: calc(100% - 78%);

    }



    .blogs-container {
        padding: 0;
        margin-top: 160%;
        height: 50px;
        width: 88.5%;
        flex-direction: column;
    }

    .options {

        background-color: white;
        height: 180px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 5%;
        flex-direction: column;
    }

    .options button {
        border: 2px solid rgba(232, 232, 232, 1);
        color: black;
        border-color: red(232, 232, 232, 1);
        border-radius: 5px;
        background-color: white;
        height: 45px;
        width: 32%;
        font-weight: 600;
        font-size: 16px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        justify-content: center;
        padding: 0;
        margin: auto;
        margin-bottom: 20%;
        border-radius: 10px;
        border-style: solid;
        border-color: rgba(232, 232, 232, 1);
        background-color: white;
        height: 85%;
        width: 100%;
    }

    .footer-container {
        background-color: rgba(22, 22, 22, 1);
        width: 100%;
        margin: 0;
        height: 390px;
        margin-top: 1150%;
    }

    .footer-contents {
        display: flex;
        margin: 5% 10%;
        flex-direction: column;
        justify-content: center;
    }

    body {
        background-color: lightblue;
    }
}

/*------ 
    media quire for tab view 
    --------*/
@media only screen and (min-width: 503px) and (max-width: 884px) {


    .banner-parts-left h1 {
        width: 85%;
        height: 30%;
        font-weight: 900;
        font-size: 2.3em;
        line-height: 1.2em;
    }

    .banner-parts-left h4 {

        font-weight: 50;
        margin: 10% 2%;

    }

    .banner-parts-right img {
        padding-left: 10%;
        padding-top: 10%;
        width: 80%;
        height: 92.3%;
    }

    .live-btn {

        padding-left: 30px;

    }

    .live-btn span {
        left: 9.5%;
    }

    .live-btn:hover span {

        margin-left: -5px;
        left: calc(100% - 78%);

    }

    button {
        border-radius: 5px;
        height: 46px;
        width: 147px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(221, 0, 0, 1);
        font-weight: 500;
        font-size: 16px;
        padding: 0px;
        margin: 0px;

    }

    .options {

        background-color: white;
        height: 50px;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 2%;
        flex-direction: row;
    }

    .options button {
        border: 2px solid rgba(232, 232, 232, 1);
        color: black;
        border-color: red(232, 232, 232, 1);
        border-radius: 5px;
        background-color: white;
        height: 45px;
        width: 32%;
        font-weight: 600;
        font-size: 16px;
    }

    .blogs-container {
        padding: 0;
        margin-top: 72%;
        width: 88.5%;
        flex-direction: column;
    }


    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog {
        padding: 0;
        margin-right: 0;
        margin-bottom: 20%;
        border-radius: 10px;
        border-style: solid;
        border-color: rgba(232, 232, 232, 1);
        background-color: white;
        height: 97%;
        width: 98%;
    }

    .blog-img img {
        width: 100%;
        margin-bottom: 5px;
    }

    .footer-container {
        background-color: rgba(22, 22, 22, 1);
        width: 100%;
        margin: 0;
        height: 380px;
        margin-top: 340%;
    }

    .footer-contents {
        display: flex;
        margin: 5% 10%;
        justify-content: center;
    }


}