body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    /* align-items: center; */
    /* justify-items: left; */
}

/*------ 
    Top banner section 
    --------*/

.top-banner {
    margin: 30px;
    position: absolute;
    background-color: black;
    height: 500px;
    width: 1050px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    padding-left: 100px;
}

.banner-parts-right img {

    padding-top: 26.5px;
    width: 100%;
    max-width: 450px;
    height: auto;
}

.banner-parts-left h1 {
    width: 350px;
    left: 100px;
    top: 161px;
    font-weight: 900;
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 0;
    padding-top: 20px;
}

.banner-parts-left h4 {

    font-weight: 50;
    line-height: 25px;
    margin: 30px 0px;

}

button {
    border-radius: 5px;
    /* border: none; */
    height: 46px;
    width: 147px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(221, 0, 0, 1);
    font-weight: 500;
    font-size: 16px;

}

button i {
    padding-left: 15px;
}

/*------ 
    blog section 
    --------*/

.blogs-container {
    padding: 0;
    margin-top: 600px;
    height: 600px;
    position: absolute;
    padding-bottom: 30px;
    /* background-color: rgb(235, 212, 212); */
    /* height: 500px; */
    width: 1150px;
    border-radius: 15px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    /* color: white; */
    /* padding-left: 100px; */
}

.options {
    /* position: sticky; */
    background-color: black;
    padding: auto;
    /* color: black; */
    height: 250px;
    width: 265px;
    margin: 0;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.options button {
    border-radius: 5px;
    margin: auto;

    /* border: 0; */
    height: 45px;
    width: 220px;
    /* color: black; */
    /* background-color: white; */
    font-weight: 600;
    font-size: 16px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: white; */
}

.blog {
    margin-right: 0;
    margin-left: 19px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(232, 232, 232, 1);
    background-color: white;
    height: 312px;
    width: 276px;
    /* border: none; */
    /* border-bottom: 50px solid red; */

    /* color: white; */
}

.blog-img img {
    /* scale: 1.1; */
    width: 100%;
    margin-bottom: 5px;
    /* padding: 10px 1px 10px 10px; */
    /* margin-top: -2px;
    margin-right: -3px;
    margin-left: -2px; */
    /* padding-right: -5px; */
    /* border: 0; */
    /* scale: 3px; */
}

.transfer-bnt button {
    height: 30px;
    width: 100px;
    border-style: 1px solid red;
    border-color: rgb(22, 21, 21);
    background-color: white;
    color: black;
    /* text-decoration-color: black; */
    margin: 10px 15px;
}

.blog-titel {
    margin: 5px 15px;
}

.blog-icons {
    margin-top: 15px;
    /* display: flex; */
    /* justify-content: space-around; */
}

.blog-icons span {
    display: inline;
    /* position: inline; */
    /* flex-direction: row; */
    justify-content: space-evenly;
    margin: 40px 15px;
}

.blog-icons i {
    margin-right: 5px;
}

/*------ 
    View Button section 
    --------*/
.view-btn-contrainer {
    display: flex;
    justify-content: center;
    margin-top: 1620px;
    margin-bottom: 50px;
    position: absolute;
    display: none;
}

#view-btn {
    /* display: flex;
    justify-content: center; */
    border: none;

}

/*------ 
    Footer section 
    --------*/

.footer-container {
    background-color: rgba(22, 22, 22, 1);
    width: 100%;
    margin: 0;
    height: 380px;
    margin-top: 1690px;
    /* color: red; */
}

.goal {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 35px;
    /* text-size-adjust: auto; */
    font-weight: bolder;
    margin-top: 110px;
    margin-bottom: 50px;
}

.goal-hr {
    display: flex;
    justify-content: center;
    top: px;
    width: 90%;
    border: none;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-contents {
    display: flex;
    /* flex-direction: column; */
    /* grid-template-columns: repeat(6, 1fr); */
    margin: 40px 200px;
    justify-content: center;

    color: #B9B9B9;
}

.footer-content {
    margin: auto;
}

.social-icons {

    display: flex;
    justify-content: center;
    margin: auto;
}

.social-icon i {
    margin: 10px 40px 10px 40px;
    size: 25px;
    color: whitesmoke;
}